body {
  background: #2C3CE5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2CADE5, #2C3CE5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2CADE5, #2C3CE5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  color: #fff; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav-container {
  display: flex;
  align-items: center; }
  .nav-container ul {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .nav-container ul li {
      border-right: 1px solid white;
      flex-grow: 1;
      text-align: center; }
      .nav-container ul li a {
        color: #fff;
        font-size: 1.3rem; }
      .nav-container ul li a:hover {
        opacity: 0.5;
        color: #fff; }
    .nav-container ul li:last-child {
      border-right: none; }

.content {
  width: 100%;
  margin: 20px 0; }
  .content .video {
    width: 45%;
    margin: 20px auto; }

footer {
  padding-top: 30px;
  border-top: 1px white solid;
  margin-top: 30px; }
