html, body {
  color: #fff;
  font-size: 1rem; }

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #2C3CE5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2CADE5, #2C3CE5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2CADE5, #2C3CE5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.content {
  flex: 1 0 auto; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav-container {
  display: flex;
  align-items: center; }
  .nav-container ul {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .nav-container ul li {
      border-right: 1px solid white;
      flex-grow: 1;
      text-align: center; }
      .nav-container ul li a {
        color: #fff;
        font-size: 1.3rem; }
      .nav-container ul li a:hover {
        opacity: 0.5;
        color: #fff; }
    .nav-container ul li:last-child {
      border-right: none; }

.content-body {
  width: 100%;
  margin-top: 12vh;
  text-align: center; }
  .content-body .video {
    width: 45%;
    margin: 0 auto; }

footer {
  padding: 25px 0;
  border-top: 1px white solid;
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem; }
  footer i:hover {
    opacity: 0.7; }
